<div class="container-fluid text-center">
    <div class="row content">
        <div class="col">
            <h1 class="text-align center">CADASTRO SALÃO</h1>
        </div>
    </div>
    <div class="row content">
       <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-justify">
            <form action="" method="post"></form>
        </div>
        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>