<div class="container-fluid text-center">
    <div class="row content">
        <div class="col">
            <h1 class="text-align center">CADASTRO CLIENTE</h1>
        </div>
    </div>
    <br>
    <div class="row content">
        <div class="col-sm-3 sidenav">
        </div>
        <div class="col-sm-6 text-justify">
            <form action="/cadastro" method="post">
                <div class="form-group">
                    <label for="nome">Nome Completo</label>
                    <input class="form-control" type="text" name="nome" id="nome">
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input class="form-control" name="cpf" id="cpf" type="text" onkeyup="cpfCheck(this)" maxlength="14"
                        onkeydown="javascript: fMasc( this, mCPF );"> <span id="cpfResponse"></span>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha">
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
                    </div>
                    <div class="col-8">
                        <a class="a" href="/cadastro-salao">DESEJO CADASTRAR SALÃO</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3 sidenav">
        </div>
    </div>
</div>