<div class="container-fluid text-center">
    <div class="row content">
        <div class="col">
            <h1 class="text-align center">CADASTRO SALÃO</h1>
        </div>
    </div>
    <br>
    <div class="row content">
        <div class="col-sm-3 sidenav">
        </div>
        <div class="col-sm-6 text-justify">
            <form action="/cadastro-salao" method="post" name='formPJ' id="formPJ">
                <div class="form-group">
                    <label for="nome">Nome Fantasia</label>
                    <input class="form-control" type="text" name="nome" id="nome">
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input class="form-control" type="text" name="cidade" id="cidade">
                </div>
                <div class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input class="form-control" name="cnpj" type="text" id="cnpj" onBlur="ValidarCNPJ(formPJ.cnpj);"
                        onKeyPress="return txtBoxFormat(this.id, '99.999.999/9999-99',event);" maxlength="18" />
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha">
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
                    </div>
                    <div class="col-8">
                        <a class="a" href="/cadastro-cliente">DESEJO CADASTRAR CLIENTE</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3 sidenav">
        </div>
    </div>
</div>