<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Página Sobre</h1>
    <h2>
        Donec rutrum, lacus nec faucibus mollis, sem orci sagittis sem, nec ornare tellus lacus eu ligula. Sed sed ipsum
        sed sapien scelerisque tempus id eu sapien. Nullam hendrerit sit amet nisl eget elementum. Curabitur id tellus
        sapien. Integer congue quam sed arcu vehicula maximus. Vivamus bibendum mattis ipsum, non lacinia felis. Donec
        lacus odio, luctus ut elit vel, venenatis ornare massa. Fusce quis tristique nulla.
    </h2>

</body>

</html>